<footer >
  <div class="container">
  <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
      <div class="col-12">
           <div class="row row-2">
               <div class="col-sm-3 text-md-center"><h5><span> <i class="fa-solid fa-signs-post" aria-hidden="true"></i></span><b>  WikiMaps</b></h5></div>
               <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">&#43;Baila</li><li><i class="fa-brands fa-github"></i><span class="Creators"><a href="https://github.com/Baila3" target="_blank" class="link-dark"> Baila3</a></span></li></ul></div>
               <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">&#43;Bulat</li><li><i class="fa-brands fa-github"></i><span class="Creators"><a href="https://github.com/bulabd" target="_blank" class="link-dark"> bulabd</a></span></li></ul></div>
               <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">&#43;George</li><li><i class="fa-brands fa-github"></i></i><span class="Creators"><a href="https://github.com/George-was-here" target="_blank" class="link-dark"> George-was-here</a></span></li></ul></div>
           </div>
      </div>
  </div>
  <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
       <div class="col-12">
           <div class="row my-4 row-1 no-gutters">
               <div class="col-sm-3 col-auto text-center"><small>April 2022 <a href="https://www.lighthouselabs.ca/" target="_blank" class="link-dark">Lighthouse Labs</a></small></div><div class="col-md-3 col-auto "></div><div class="col-md-3 col-auto"></div>
               <div class="col  my-auto text-md-left  text-right "> <small> hello@wikimaps.org 🥔</small></div>
           </div>
       </div>
   </div>
  </div>
</footer>
