<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/_head') %>
    <!-- <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b383617d0a.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="/styles/mapView.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/commonStyles.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/createMap.scss" type="text/css" />
    <title>Map List</title>
  </head>
  <body>
    <header>
      <nav class="navBar">
        <div class="WikiMapsLogo">
          <h1>WikiMaps</h1>
          <i class="fa-solid fa-signs-post"></i>
        </div>
<<<<<<< HEAD
         <div>
          <a href="/maps">My Maps</a>
=======
        <div class="navButtons">
          <a href="/all_maps" class="link-dark">&#43;View All Maps</a>
          <a href="/maps" class="link-dark">&#43;My Maps</a>
>>>>>>> 56a9ad28149eff7ba7c68cdad6629693f9287e50
          <form method="GET" action="/logout">
            <button class="btn btn-outline link-dark">&#43;Logout</button>
          </form>
        </div>
      </nav>
    </header>
      <main class="mainPage">
        <div class="contentbox">
          <h2>Create A Map</h2>
           <form method="POST" action="/create" class="form-group">
            <label for="title">Map Name: </label>
            <input type="text" name="title" placeholder="Title" class="box">
            <label for="title">Description: </label>
            <input type="text" name="description" placeholder="Description" class="box">
            <button type="submit" class="redbuttons">&#43;Create</button>
           </form>
        </div>
      </main>
      <%- include('partials/_footer') %>
  </body>
</html>

