<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <title>Login Page</title>
  </head>
<body>
  <header>
    <nav class="navBar">
      <div class="WikiMapsLogo">
        <h1>WikiMaps</h1>
        <i class="fa-solid fa-signs-post"></i>
      </div>
      <div>
        <a href="/register">&#43;Sign Up</a>
      </div>
    </nav>
  </header>
  <main class="mainPage">
    <div class="contentbox">
    <h2><b>Login</b></h2>
    <form class="ommitButton" method="POST" action="/login">
      <div class="form-group">
        <label for="email">&#43;Email:</label>
        <input class="box" type="email" name="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">&#43;Password:</label>
        <input class="box" type="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="redbuttons">&#43;Login</button>
    </form>
    </div>
  </main>
  <%- include('partials/_footer') %>
</body>
</html>
