<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <link rel="stylesheet" href="/styles/commonStyles.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/b383617d0a.js" crossorigin="anonymous"></script>
  </head>
<body>
  <header>
    <nav class="navBar">
      <div class="WikiMapsLogo">
        <h1>WikiMaps</h1>
        <i class="fa-solid fa-signs-post"></i>
      </div>
      <div>
        <a href="/register">Sign Up</a>
      </div>
    </nav>
  </header>
  <main class="mainPage">
    <h3>Login</h3>
    <form class="ommitButton" method="POST" action="/login">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="box" type="email" name="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="box" type="password" name="password" placeholder="Password">
      </div>
      <button type="submit">Login</button>
    </form>
  </main>
</body>
</html>
