<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <title>Login page</title>
</head>
<nav>
  <h1>WikiMaps</h1>
  <a href="/register">Sign Up</a>
</nav>
<div class=" d-flex justify-content-center" >
  <form method="POST" action="/login">
    <h6> Email</h6>
    <div class=" d-flex justify-content-center" >
    </div>
    <input type="email"  name="email" placeholder="your@email.com" >
    <h6>Password</h6>
    <div class=" d-flex justify-content-center" >
    <input type="password" name="password" placeholder="Password">
    </div>
    <button type="submit"  class="btn btn-outline-success">Login</button>
  </form>
</div>

</body>
</html>
