<!-- //views and modifies a map based on ID with routes to POST and get new info -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b383617d0a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/mapView.css" type="text/css" />
    <title>Map Edit</title>
  </head>
  <body>
    <div>
      <h1>Create a map!</h1>
    </div>
  </body>
</html>
