<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head') %>
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  <title>Registration Page</title>
</head>

<body>
  <header>
    <nav class="navBar">
      <div class="WikiMapsLogo">
        <h1>WikiM<i class="fa-solid fa-location-dot" id="logoMarker"></i>ps</h1>
        <i class="fa-solid fa-signs-post"></i>
      </div>
      <div>
        <a href="/login" class="link-dark">&#43;Login</a>
      </div>
    </nav>
  </header>
  <main class="mainPage">
    <div class="contentbox">
    <h3><b>Create Account</b></h3>
    <form class="ommitButton" method="POST" action="/register">
      <div class="form-group">
        <label for="email">&#43;Email:</label>
        <input class="box" type="email" name="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">&#43;Password:</label>
        <input class="box" type="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="name">&#43;Name:</label>
        <input class="box" type="text" name="name" placeholder="Name">
      </div>
      <button type="submit" class="redbuttons">&#43;Submit</button>
    </form>
    </div>
  </main>
  <%- include('partials/_footer') %>
</body>

</html>
