<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  <link rel="stylesheet" href="/styles/commonStyles.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://kit.fontawesome.com/b383617d0a.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navBar">
      <div class="WikiMapsLogo">
        <h1>WikiMaps</h1>
        <i class="fa-solid fa-signs-post"></i>
      </div>
      <div>
        <a href="/login" class="link-dark">Login</a>
      </div>
    </nav>
  </header>
  <main class="mainPage">
    <h3>Create Accout</h3>
    <form class="ommitButton" method="POST" action="/register">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="box" type="email" name="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="box" type="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="box" type="text" name="name" placeholder="Name">
      </div>
      <button type="submit">Submit</button>
    </form>
  </main>
</body>

</html>
