body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin-top: 100px;
  background-color: #F7F7FF;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  font-family: 'Raleway', sans-serif;
  color: #313638;
  header {
    width: 100%;
    background-color: #E4B363;
    height: 100px;
    padding: 1em;
    position: fixed;
    top: 0;
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .WikiMapsLogo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        i {
          font-size: 2em;
          padding: 1em;
        }
      }
    }
  }
  footer {
    background-color: #EF6461;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .link-dark {
    color: #313638;
  }
}

