body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  background-color: #F7F7FF;
  font-family: 'Raleway', sans-serif;
  color: #313638;
  header {
    width: 100%;
    background-color: #E4B363;
    height: 100px;
    padding: 1em;
    position: fixed;
    top: 0;
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      a {
        background-color: #EF6461;
        color: #313638;
        padding: 1em 1.5em;
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
      }
      a:hover {
        background-color: #4A8FE7;
      }

      a:active {
        background-color: #F7F7FF;
      }
      .WikiMapsLogo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        i {
          font-size: 2em;
          padding: 1em;
        }
      }
    }
  }
  footer {
    background-color: #EF6461;
    width: 100%;
  }
  .link-dark {
    color: #313638;
  }
  a:hover {
    background-color: #4A8FE7;
  }
  a:active {
    background-color: #F7F7FF;
  }
}

main {
  min-height: 100vh;
  padding: 2em;
  width: 100%;
  background-color: #cfd1b0a6;
  padding-top: 110px;
}
