body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  background-color: #F7F7FF;
  font-family: 'Raleway', sans-serif;
  color: #313638;
  header {
    width: 100%;
    background-color: #E4B363;
    height: 100px;
    padding: 1em;
    position: fixed;
    top: 0;
    border-bottom: 2px groove #313638;
    z-index: 1;
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .navButtons {
        display: flex;
        flex-direction: row;
      }
      a, .link-dark {
        background-color: #EF6461;
        color: #313638;
        padding: .5em .5em;
        border-radius: 5px;
        text-decoration: none;
        margin: .5em;
      }
      a:hover, .link-dark:hover {
        background-color: #4A8FE7;
      }
      a:active, .link-dark:active {
        background-color: #F7F7FF;
      }
      .WikiMapsLogo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        i {
          font-size: 2em;
          padding: 1em;
        }
      }
    }
  }
  footer {
    background-color: #EF6461;
    width: 100%;
    border-top: 2px #313638 groove;
  }
  .link-dark {
    color: #313638;
  }

  a:hover {
    background-color: #4A8FE7;
  }
  a:active {
    background-color: #F7F7FF;
  }
}

main {
  min-height: 80vh;
  padding: 2em;
  width: 100%;
  background-color: #b3dee2a5;
  padding-top: 110px;
}

.contentbox {
  // border: 5px groove #4A8FE7;
  padding: 2em;
  border-radius: 10px;
  background-color: #F7F7FF;
  margin-top: 2.5em;
  &:hover {
    // box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    // border:rgba(0, 0, 0, 0.38)
    border: 3px #4A8FE7 solid;
    // box-shadow: 3px 3px 3px #4A8FE7;
  }
  // .createForm {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   margin-top: 1.5em;
  //   .box {
  //     margin-left: 2rem;
  //     margin-bottom: 1rem;
  //     &:focus {
  //       border: 5px solid white;
  //         background-color: #4A8FE7;;
  //     }
  //   }
  // }
}


.redbuttons {
    background-color: #EF6461;
    color: #313638;
    padding: .2em .5em;
    border-radius: 5px;
  &:hover {
    background-color: #4A8FE7;
  }
  &:active {
    background-color: #F7F7FF;
  }
}

.box {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  &:focus {
    border: 5px solid white;
      background-color: #4A8FE7;;
  }
}

