.columnContainer {
  display: flex;
  flex-direction: column;

  .rowContainer {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.allmapslist {
  color: #EF6461
}

.masonry-brick {
  color: #FFF;
  background-color: #313638;
  display: inline-block;
  padding: 5px;
  width: 100%;
  margin: 1em 0;
}

@media only screen and (min-width: 480px) {
  .masonry-container {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
  }
}

@media only screen and (min-width: 768px) {
  .masonry-container {
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4;
  }
}

@media only screen and (min-width: 960px) {
  .masonry-container {
      -moz-column-count: 5;
      -webkit-column-count: 5;
      column-count: 5;
  }
}

