.columnContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .rowContainer {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      display: none;
    }
  }

  .mapContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .mapItem:hover {
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        border:rgba(0, 0, 0, 0.38)
    }
  }
}

  a {
    margin-top: 1em;
  }

  button {
    border: 0;
  }
  #editbutton {
 align-self: flex-start;
    margin-top: 1em;
  }

.bg-transparent {
  font-size: 1.5em;
}

